body{
        margin: 0;
    }
header{
        width: 94rem;
        margin:auto;
        height:6.25rem;
        border:10px rgb(157, 208, 157) solid;
        background-color:rgb(216, 31, 142);
    }
section {
        background-color:violet;
        height: 900px;
        width: 800%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border-radius:0px 0px 0px 40px ;
        position:relative;
        margin-bottom: 7px;
        border-radius: 0 0 0 40px;
        }
img{
                height:30rem ;
                width: 40rem; 
                border-radius: 0 0 0 40px;
                background-size: cover;
                background-repeat: no-repeat
              }
article:nth-child(odd){
                height: 15rem;
           }
article:hover{
                background-color:blue ;
                box-shadow:0 0 5px 10px gray;
                 }
nav{
        display:flex;
        flex-direction:row;
        justify-content:space-around ;
        } 
table {
            border-collapse: collapse;
            width:100% ;
            height: 250px;
            padding:50px ;
            background-color:gray;
            align-items:center;
            display: flex;
        }
td {
            border: 5px solid rgb(216, 31, 142);
            width:10% ;
            height: 20px;
            
        }
fieldset{
         background-color:rgb(117, 219, 222);
         height:10rem ;
         width:100%;
         border:rgb(216, 31, 142);
         margin:auto;
         display:flex;
        }
footer {
                flex-shrink:0;
                background-color:rgb(216, 31, 142);
                width:100%;
                height:10rem;
                display:flex;
                flex-direction:row;
                justify-content:space-around;
        }